html, body {
	margin: 0;
	height: 100%;
	font-family: "Georgia", serif;
	overflow: hidden;
}

#background {
	height: 100%;
	background: url(assets/parchment.jpg) no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
}

.title {
	margin: 0 auto;
	font-family: 'Eater';
    font-size: 30px;
  	color: rgb(51, 0, 51);
    text-shadow: 3px 3px 5px rgb(255, 204, 255);
    top:0;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
}

.center {
	right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

/* hide the scrollbar while still enabling scrolling */
::-webkit-scrollbar { 
    display: none; 
 /*   width: 0px; /*  remove scrollbar space */
  /*  background: transparent;  /* optional: just make scrollbar invisible */
}


.bottom {
	position: fixed;
	bottom: 0;
	height: 10vh;
	width: 100vw;
		/* FOR GRADIENT: */
	background: linear-gradient(to top, 
		rgba(255,255,255,1) 20%, rgba(255,255,255,0) 50%);
}

.bottom .left {
	left: 0;
}

.bottom .right {
	right: 0;
}

/* FOR DESKTOP: */
@media screen and (min-device-width: 600px){ 
	#narrative {
		text-align: left;
		font-size: 3vh;
		left: 25vw;
		top: 150px;
		margin-right: 20vw;
		padding-right: 5vw;
	}

	.bottom {
		position: fixed;
		bottom: 0;
		right: 50%;
		transform: translate(50%,50%);
		height: 70vh;
		width: 60vw;
			/* FOR GRADIENT: */
		background: linear-gradient(to top, 
			rgba(255,255,255,1) 50%, rgba(255,255,255,0) 90%);
	}	
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #000,
      0px 0px 10px #000, 
      0px 0px 25px #000,
      0px 0px 25px #000,
      0px 0px 25px #000,
      0px 0px 25px #000,
      0px 0px 25px #000,
      0px 0px 25px #000,
      0px 0px 50px #000,
      0px 0px 50px #000,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }